<div id="wrapper">
  My page

<script>
  var railsconfTweets = new App.Tweets();
  var tweetsView = new App.TweetsView({
    collection: railsconfTweets
  });
  $('#wrapper').prepend(tweetsView.el);
  railsconfTweets.fetch();
</script>

</div>
