<div id="wrapper">
  My page

<script>
  var railsconfTweets = new Tweets();
  var tweetsView = new TweetsView({
    collection: railsconfTweets
  });
  $('#wrapper').prepend(tweetsView.el);
  railsconfTweets.fetch();
</script>

</div>